@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style: none;
}
img,svg,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html,body{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}