@charset "utf-8";

/* #wrap{
    overflow: hidden;
} */
#hamburger{
    display: none;
}
.S-info .m-box{
    display: none;
}
.container{
    height: 100vh;
}
.header-area{
    display: flex;
    width: 100%;
    height: 56px;
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.header-area.on{
    color: #000;
}
.header-logo{
    width: 120px;
    height: 24px;
    margin-left: 32px;
}
.main-menu{
    display: flex;
    width: 239px;
    height: 12px;
    justify-content: space-between;
}
.icon-box{
    display: flex;
    width: 135px;
    height: 25px;
    color: #fff;
    justify-content: space-between;
    margin-right: 32px;
}
.icon-box.on{
    color: #000;
}
.icon{
    font-size: 25px;
}
.help::before{
    content: '\f059';
    font-family: fontawesome;
}
.world::before{
    content: '\f0ac';
    font-family: fontawesome;
}
.user::before{
    content: '\f007';
    font-family: fontawesome;
}
.container{
    position: relative;
    height: 100vh;
}
.banner-text{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.banner-text.on{
    color: #000;
}
.banner-text h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.banner-text p{
    display: flex;
    justify-content: center;
}
.banner-btn{
    display: flex;
    position: absolute;
    width: 264px;
    height: 40px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
}
/* #tab1,#tab2,#tab3,#tab4{
    display: none;
} */

/* ************************************************************* */
/* tab1 */
.sub-menu-box{
    display: none;
    width: 100%;
    height: 40%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.sub-menu-box.active{
    display: flex;
}
.car.active{
    display: flex;
}
.car .sub-menu-body{
    display: flex;
    border-left: 1px solid #9a9a9a;
}
.car{
    display: none;
    width: 100%;
}
.car img{
    width: 220px;
    height: 123.84px;
}
.car .menu-left{
    display: flex;
    width: 75%;
    height: 100%;
    justify-content: right;
    align-items: center;
}
.car .sub-menu-detail{
    margin-left: 5%;
    margin-top: 20px;
}
.car .text-box{
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    color: #7a7a7a;
}
.car .text-box a{
    border-bottom: 1px solid #7a7a7a;
}
.car .menu-right{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 80px;
}
.car .menu-right a{
    margin-bottom: 10px;
    margin-left: 50px;
}
.car p{
    display: flex;
    justify-content: center;
    font-size: 17px;
}


/* ************************************************************* */
/* tab2 */
.charge{
    display: none;
    width: 100%;
}
.charge.active{
    display: flex;
}
.charge img{
    width: 220px;
    height: 123.84px;
}
.charge .menu-left{
    display: flex;
    width: 65%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.charge .sub-menu-detail{
    margin-left: 5%;
    margin-top: 20px;
}
.charge .text-box{
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    color: #7a7a7a;
}
.charge .text-box a{
    border-bottom: 1px solid #7a7a7a;
}
.charge .menu-right{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.charge .menu-right a{
    margin-bottom: 10px;
    margin-left: 50px;
}
.charge p{
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.charge .sub-menu-body{
    display: flex;
    border-left: 1px solid #7a7a7a;
}
/* ************************************************************* */
/* tab3 */

.look{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.look.active{
    display: flex;
}
.menu-look{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.look .sub-menu-detail{
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
}
.look .sub-menu-detail:first-child{
    margin-left: 0;
}
.look .sub-menu-head{
    margin-bottom: 20px;
    color: #9a9a9a;
}
.look .sub-menu-body{
    margin-bottom: 10px;
    font-size: 14px;
}

/* ************************************************************* */
/* tab4 */
.shop{
    display: none;
    width: 100%;
}
.shop.active{
    display: flex;
}
.shop img{
    width: 220px;
    height: 123.84px;
}
.shop .menu-shop{
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
}
.shop .sub-menu-detail{
    margin-left: 5%;
    margin-top: 20px;
}
.shop .text-box{
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    color: #7a7a7a;
}
.shop .text-box a{
    border-bottom: 1px solid #7a7a7a;
}
.shop .menu-right a{
    margin-bottom: 10px;
}
.shop p{
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.sec-1{
    height: 100vh;
}
.sec-1 .box-t{
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.swiper-wrapper{
    display: flex;
    width: 400%;
}
.swiper-slide{
    width: 100vw;
    position: relative;
    height: 100vh;
}
.sec-1 .btn1{
    display: flex;
    margin-right: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
}
.sec-1 .btn2{
    display: flex;
    color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 264px;
    height: 40px;
}
.sec-1 .sec1-S-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
}
.sec-1 .S-b-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}
.sec-1 .sec1-t-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
}
.sec-1 .t-b-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}
.sec-1 .sec1-X-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
}
.sec-1 .X-b-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}
.sec-1 .sec1-Y-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
}
.sec-1 .Y-b-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

/* ************************************************************** */
/* sec2 */
/* #click1,#click2,#click3,#click4{
    display: none;
} */
.swiper.on{
    overflow-y: inherit;
}
/* .box-b.on{
    display: block;
} */
#Y-info1,#Y-info2,#Y-info3,#S-info1,#S-info2,#t-info1,#t-info2,#t-info3,#X-info1,#X-info2{
    display: none;
}
#S-info1.on{
    display: flex;
}
#S-info2.on{
    display: flex;
}
#t-info1.on{
    display: flex;
}
#t-info2.on{
    display: flex;
}
#t-info3.on{
    display: flex;
}
#X-info1.on{
    display: flex;
}
#X-info2.on{
    display: flex;
}
#Y-info1.on{
    display: flex;
}
#Y-info2.on{
    display: flex;
}
#Y-info3.on{
    display: flex;
}
.section .sec2-S{
    height: 100vh;
    position: relative;
    left: 0;
    color: #fff;
}
.sec-2-1,.S-info{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.S-info .h-t{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}
.S-info .S-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.S-info .S-text .t-t{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.S-info .S-text .t-b{
    margin-top: 28px;
    text-align: center;
}
.S-info .S-text h1{
    font-size: 24px;
}
.S-info .S-text p{
    font-size: 14px;
}
.sec-2-2{
    background-color: #000;
    position: relative;
    height: 100vh;
}
.sec-2-2 .S-left{
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
}
.sec-2-2 .t-left{
    background: url(../tesla-img/Model-3-Specs.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    width: 663px;
    height: 256px;
}

.sec-2-2 .S-right .sb{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 20%;
    top: 20%;
}
.sec-2-2 .S-right .tb{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 20%;
    top: 20%;
}
.sec-2-2 .S-right .xb{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 20%;
    top: 20%;
}
.sec-2-2 .S-right .yb{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 20%;
    top: 20%;
}
/* ***************************************** */
/* S-btn */
.sec-2-2 .S-right .S-btn1{
    display: flex;
    margin-right: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
}
.sec-2-2 .S-right .S-btn2{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
}
/* ***************************************** */
/* t-btn */
.sec-2-2 .S-right .t-P{
    display: flex;
    margin-left: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
.sec-2-2 .S-right .t-AWD{
    display: flex;
    margin-left: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
.sec-2-2 .S-right .t-RWD{
    display: flex;
    margin-left: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
/* ***************************************** */
/* X-btn */
.sec-2-2 .S-right .X-P{
    display: flex;
    margin-right: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
.sec-2-2 .S-right .X{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
/* ***************************************** */
/* Y-btn */
.sec-2-2 .S-right .Y-P{
    display: flex;
    margin-left: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
.sec-2-2 .S-right .Y-AWD{
    display: flex;
    margin-left: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
.sec-2-2 .S-right .Y-RWD{
    display: flex;
    margin-left: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
}
.S-specs{
    position: absolute;
    top: 35%;
    right: 12%;
    display: flex;
    align-items: center;
    color: #fff;
}
.t-specs{
    position: absolute;
    top: 35%;
    right: 12%;
    display: flex;
    align-items: center;
    color: #fff;
}
.t-specs .sib1{
    margin-right: 30px;
}
.S-specs .sib2{
    margin-right: 30px;
}
.t-specs span{
    display: block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin-top: 15px;
}
.t-specs .S-specs-t{
    margin-bottom: 50px;
    margin-right: 100px;
}
.S-specs .sib1{
    margin-right: 70px;
}
.S-specs span{
    display: block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin-top: 15px;
}
.S-specs .S-specs-t{
    margin-bottom: 50px;
    margin-right: 100px;
}
.S-info .S-text .t-t .ttext {
    width: 33%;
    border-right: 1px solid #ffffff8f;
}
.S-info .S-text .t-t .ttext:last-child{
    border: none;
}
.S-info .S-text .t-t .text{
    width: 25%;
    border-right: 1px solid #ffffff8f;
}
.S-info .S-text .t-t .text:last-child{
    border: none;
}
@media (max-width: 1650px){
    .t-specs{
        right: 8%;
    }
}
@media (max-width: 1550px){
    .t-specs{
        right: 4%;
    }
    .S-specs{
        right: 5%;
    }
}
@media (max-width: 1400px){
    .t-specs{
        right: -5%;
    }
    .S-specs{
        right: 0%;
    }
}
@media (max-width: 1200px){
    .sub-menu-box.active,
    .icon-box{
        display: none;
    }
    .main-menu{
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);

        position: fixed;
        top: 0;
        left: 0;
        color: #1a1a1e;
        font-size: 8vw;

        flex-direction: column;
        justify-content: space-evenly;
        /* 좌우가 1000px 기준 100px */
        padding: 20% 10%;
        transform: translateY(-100%);
        transition: 0.3s;
    }
    #hamburger{
        display: block;
        width: 30px;
        height: 20px;
        z-index: 99999;
        position: relative;
        margin-right: 32px;
    }
    #hamburger span{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
    }
    #hamburger span:first-child{
        top: 0;
        left: 0;
    }
    #hamburger span:nth-child(even){
        top: 50%;
        left: 0;
    }
    #hamburger span:last-child{
        top: 100%;
        left: 0;
    }
    .header-area .main-menu.active{
        transform: translateY(0);
    }
    #hamburger.active span{
        background-color: #000;
    }
    #hamburger.active span:first-child{
        transform: translateY(10px);
    }
    #hamburger.active span:last-child{
        transform: translateY(-10px);
    }
    .header-logo.active{
        z-index: 999;
        color: #000;
    }
    .t-specs{
        right: 13%;
        bottom: 0%;
    }
    .S-specs{
        right: 4%;
        bottom: 0%;
    }
    .sec-2-2 .S-left{
        left: 27%;
        top: 28%;
    }
    .sec-2-2 .S-right .sb{
        right: 20%;
        top: 8%;
    }
    .sec-2-2 .t-left{
        left: 20%;
        top: 29%;
    }
    .sec-2-2 .S-right .tb{
        right: 6%;
        top: 8%;
    }
    .sec-2-2 .S-right .xb{
        right: 21%;
        top: 8%;
    }
    .sec-2-2 .S-right .yb{
        right: 5%;
        top: 8%;
    }
    
    
}
@media (max-width: 525px){
    .banner-text h1{
        font-size: 30px;
    }
    .banner-btn{
        width: 90%;
        bottom: 7%;
    }
    .sec-1 .sec1-S-btn,.sec-1 .sec1-t-btn,.sec-1 .sec1-Y-btn,.sec-1 .sec1-X-btn{
        width: 90%;
        bottom: 7%;
        display: block;   
    }
    .sec-1 .btn1{
        margin-right: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .sec-1 .btn2{
        width: 100%;
    }
    .sec-1 .S-b-text{
        font-size: 30px;
    }
    .S-info .S-text{
        display: none;
    }
    .S-info .h-t{
        display: none;
        top: 5%;
        color: #fff;
    }
    .sec-2-2 .S-right .sb{
        right: -5.5%;
        top: -88%;
        flex-direction: column;
        width: 100%;
    }
    .sec-2-2 .S-right .S-btn1{
        margin-right: none;
        margin-bottom: 10px;
        width: 90%;
        border: none;
    }
    .sec-2-2 .S-right .S-btn2{
        margin-right: none;
        width: 90%;
        border: none;
    }
    .sec-2-2 .S-right .tb{
        right: 11%;
        top: -88%;
        flex-direction: column;
        width: 100%;
    }
    .t-specs{
        margin-right: none;
        margin-bottom: 10px;
        border: none;
    }
    .sec-2-2 .S-right .t-P,.sec-2-2 .S-right .t-AWD,.sec-2-2 .S-right .t-RWD{
        margin-right: none;
        margin-bottom: 10px;
        width: 90%;
        border: none;
    }
    .sec-2-2 .S-right .yb{
        right: 11%;
        top: -88%;
        flex-direction: column;
        width: 100%;
    }
    .sec-2-2 .S-right .Y-P,.sec-2-2 .S-right .Y-AWD,.sec-2-2 .S-right .Y-RWD{
        margin-right: none;
        margin-bottom: 10px;
        width: 90%;
        border: none;
    }
    .sec-2-2 .S-right .xb{
        right: -5%;
        top: -88%;
        flex-direction: column;
        width: 100%;
    }
    .sec-2-2 .S-right .X-P,.sec-2-2 .S-right .X{
        margin-right: none;
        margin-bottom: 10px;
        width: 90%;
        border: none;
    }
    #S-info2.on{
        flex-direction: column-reverse;
    }
    .S-specs {
        right: 43%;
        bottom: 52%;
    }
    .S-specs .sib2 {
        margin: none;
    } 
    .S-specs .sib1 {
        margin: none;
    }
    .sec-2-2{
        display: none;
    }
    .sec-2-1, .S-info {
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-color: #000;
    }
    .S-info .m-box{
        display: block;
        position: absolute;
        color: #fff;
        top: 5%;
        left: 0;
        width: 100%;
        padding-left: 15px;
        font-size: 14px;
    }
    .S-info .m-box .m-head{
        font-size: 32px;
    }
    .S-info .m-box p{
        margin-bottom: 10px;
    }.S-info .m-box p:last-child{
        margin-bottom: 31px;
    }
    .S-info img{
        display: none;
    }
    .S-info .m-box2{
        display: block;
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: end;
        padding-right: 15px;
        font-size: 14px;
    }
    .S-info .m-box2 .m-head{
        font-size: 32px;
    }
    .S-info .m-box2 p{
        margin-bottom: 10px;
    }.S-info .m-box2 p:last-child{
        margin-bottom: none;
    }
    
}